{% extends 'login_base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    {% block content %}

        <div class="login-container">
            <form method="post">

                <h1>Mot de passe oublié</h1>
                <div>
                    <label for="inputEmail">Adresse email</label>
                    <input type="email" name="email" id="inputEmail" placeholder="Adresse email" required autofocus>
                </div>

                <button type="submit" class="sendRestPassword">Envoyer un email</button>

            </form>
        </div>

    {% endblock %}

{% endblock %}
