{% extends 'login_base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    {% block content %}

        <div class="login-container">
            <form method="post">
                <h1>Réinitialiser le mot de passe</h1>

                <div>
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" placeholder="Mot de passe" required>
                    <input type="hidden" name="token" value="{{ token }}">
                </div>

                <button type="submit" class="sendRestPassword">Réinitialiser</button>
            </form>
        </div>

    {% endblock %}

{% endblock %}
