{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
    {%  block navigation %}
        <nav class="navbar">
            <img src="{{ asset('assets/images/logo_skorou.jpg') }}" alt="logo Skorou" class="navbar-logo"/>
            <ul>
                <li><a href="{{ path('dashboard') }}">Tableau de bord</a></li>
                <li><a href="{{ path('contact') }}">Contact</a></li>
                <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
            </ul>
        </nav>
    {% endblock %}

    {% block content %}{% endblock %}
{% endblock %}
