{% extends 'frontoffice/frontoffice_base.html.twig' %}

{% block title %}Quelques infos{% endblock %}

{% block body %}
    <h1>Encore quelques infos...</h1>

    {{ form(addressForm) }}
{% endblock %}
