{% extends 'login_base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    {% block content %}
        <div class="register-container">
            <h1>S'inscrire</h1>

            {{ form(registrationForm) }}
        </div>
    {% endblock %}

{% endblock %}
