{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    {% verbatim %}
    <div id="registration">
        <Registration/>
    </div>
    {% endverbatim %}

{#    {{ form(registrationForm) }}#}

{% endblock %}
