{% extends 'login_base.html.twig' %}

{% block title %}Check your emails!{% endblock %}

{% block body %}

    <h1>Confirmation</h1>
    <p>Plus qu'1 étape !</p>
    <p>Vous allez recevoir un mail contenant un lien.</p>
    <p>Merci de cliquer sur ce lien pour confirmer votre inscription.</p>

{% endblock %}