{% extends 'frontoffice/frontoffice_base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}

    {% block content %}
        <div>
            <h1>Tableau de bord</h1>
            <h2>Bonjour {{ user.username }}</h2>
        </div>
    {% endblock %}

{% endblock %}
