{% extends 'frontoffice/frontoffice_base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
{#    {{ include('frontoffice/default/navigation.html.twig') }}#}

    {% block content %}
        <div>
            <a href="#" data-activates="slide-out" class="btn btn-dark p-3 button-collapse">
                <i class="fas fa-bars"></i>
            </a>
            <h1>Tableau de bord</h1>
            <h2>Bonjour {{ user.username }}</h2>
        </div>
    {% endblock %}

{% endblock %}
