{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
    {{ include('frontoffice/default/navigation.html.twig') }}

    <h1>Tableau de bord</h1>
{#    <h2>{{ user.username }}</h2>#}
{% endblock %}
