{% extends '@EasyAdmin/crud/index.html.twig' %}

{% block content_header %}
    {{ parent() }}
    <div id="order-toast" class="toast" style="position: absolute; top: 0; right: 500;" data-delay="10000">
        <div class="toast-header">
            <button type="button" class="mb-1 ml-auto close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            IMPLEMENT TOAST
        </div>
    </div>
{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    {% set order_url = ea_url()
        .setController('App\\Controller\\Backoffice\\CreationTypeController')
        .setAction('order') %}
    <div id="backend-order-url-holder" data-url="{{ order_url }}"></div>
    {{ encore_entry_script_tags('admin-orderable-index') }}

{% endblock %}

