{% extends 'login_base.html.twig' %}

{% block title %}Se connecter aux réseaux{% endblock %}

{% block body %}

    {% block content %}
        <div class="register-container social-container">
            <h1 class="big-title">Associez vos réseaux sociaux</h1>

            <div class="social-block">
                <img src="{{ asset('assets/images/icons/facebook_icon.svg') }}" alt="facebook icon" class="social-logo"/>

                <div class="fb-login-button"
                     data-size="large"
                     data-button-type="login_with"
                     data-layout="rounded"
                     data-auto-logout-link="true"
                     data-use-continue-as="false"
                     data-scope="public_profile,email"
                     onlogin="fbGetLoginStatus();"
                     data-width=""></div>
            </div>

            <a href="{{ path('registration_end') }}" class="yellow-button">Terminer</a>

        </div>
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <script src="{{ asset('assets/js/facebook_login.js') }}" type="text/javascript"></script>
        <script async defer crossorigin="anonymous"
                src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v7.0&appId=506962090622258">
        </script>
    {% endblock %}

{% endblock %}
