@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-icons/font/bootstrap-icons.css';

/* app fonts */

@font-face {
    font-family: "Antipasto";
    src: url("../../public/assets/fonts/antipasto/Antipasto-Pro-Regular.ttf") format("truetype"),
    url("../../public/assets/fonts/antipasto/Antipasto-Pro-Regular.woff") format("woff");
}

@font-face {
    font-family: "Antipasto Bold";
    src: url("../../public/assets/fonts/antipasto/Antipasto-Pro-Bold.ttf") format("truetype"),
    url("../../public/assets/fonts/antipasto/Antipasto-Pro-Bold.woff") format("woff");
}

@font-face {
    font-family: "Segoe UI";
    src: url("../../public/assets/fonts/segoe_ui/Segoe-UI.ttf") format("truetype");
}

@font-face {
    font-family: "Segoe UI Bold";
    src: url("../../public/assets/fonts/segoe_ui/Segoe-UI-Bold.ttf") format("truetype");
}

/* app colors */

$primary-color-1: #E84712;
$primary-color-2: #258D8A;
$primary-color-3: #FBBA00;
$primary-color-4: #393B40;
$primary-color-5: #000000;
$primary-color-5: #ffffff;
$text-color: #121212;

/* global */
a.full-width-button
{
    display: block;
    width: 100%;
    border-radius: 50px;
    color: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: all 0.3s ease 0s;
}

a.full-width-button:hover
{
    text-decoration: none;
}

/* titles and text */
h1
{
  color: $primary-color-1;
}

h2
{
  color: $primary-color-2;
}

.content-text
{
  color: $text-color;
}

.center-text
{
    text-align: center;
}

/* icons */

i.bi
{
    font-size: 2rem;
}

body
{
    background-color: lightgray;
    margin: 0;
}

/* navbar */

.menu-button
{
    background-color: transparent;
    border: none;
    color: black;
}

.side-navbar
{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100%;
    padding: 50px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: all ease-out .3s;
}

.navbar-logo
{
    width: 150px;
    height: auto;
}

/* alerts */
.alert
{
    z-index: 10;
}

/* Welcome Page */
.login-register-container
{
    width: 600px;
    height: auto;
    padding: 100px;
    background-color: white;
    border-radius: 79px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-register-container > .sign-up-button
{
    background-color: $primary-color-2;
    margin-bottom: 30px;
}

.login-register-container > .sign-up-button:hover
{
    background-color: $primary-color-2;
}

.login-register-container > .sign-in-button
{
    background-color: $primary-color-3;
}

.login-register-container > .sign-in-button:hover
{
    background-color: $primary-color-3;
}

/* Subcription */
.subscription-container
{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.subscription-block
{
    width: 20%;
    height: auto;
    padding: 100px;
    background-color: white;
    border-radius: 79px;
}

.subscription-regular-price
{
    text-decoration: line-through;
}

/* Subscription payment */
#card-element > .__PrivateStripeElement > .__PrivateStripeElement-input
{
    position: relative !important;
}