@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-icons/font/bootstrap-icons.css';

/* app fonts */

@font-face {
    font-family: "Antipasto";
    src: url("../../public/assets/fonts/antipasto/Antipasto-Pro-Regular.ttf") format("truetype"),
    url("../../public/assets/fonts/antipasto/Antipasto-Pro-Regular.woff") format("woff");
}

@font-face {
    font-family: "Antipasto Bold";
    src: url("../../public/assets/fonts/antipasto/Antipasto-Pro-Bold.ttf") format("truetype"),
    url("../../public/assets/fonts/antipasto/Antipasto-Pro-Bold.woff") format("woff");
}

@font-face {
    font-family: "Segoe UI";
    src: url("../../public/assets/fonts/segoe_ui/Segoe-UI.ttf") format("truetype");
}

@font-face {
    font-family: "Segoe UI Bold";
    src: url("../../public/assets/fonts/segoe_ui/Segoe-UI-Bold.ttf") format("truetype");
}

/* app colors */

$primary-color-1: #E84712;
$primary-color-2: #258D8A;
$primary-color-3: #FBBA00;
$primary-color-4: #393B40;
$primary-color-5: #000000;
$primary-color-6: #ffffff;
$text-color: #121212;

/* global */
a.full-width-button
{
    display: block;
    width: 100%;
    border-radius: 50px;
    color: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: all 0.3s ease 0s;
    font-size: 20px;
}

a.full-width-button:hover
{
    text-decoration: none;
}

/* titles and text */
h1
{
    color: $primary-color-2;
    font-family: 'Antipasto', sans-serif;
}

h2
{
    color: $primary-color-1;
    font-family: 'Antipasto', sans-serif;
}

.content-text
{
    color: $text-color;
}

.center-text
{
    text-align: center;
}

/* icons */

i.bi
{
    font-size: 2rem;
}

body
{
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    overflow: hidden;
}

input[type=text],
input[type=email],
input[type=password]
{
    border-radius: 60px;
    border-width: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    height: 50px;
    padding: 20px;
}

input::placeholder
{
    color: #A4A4A4 !important;
    font-size: 18px;
}

.arrow
{
    position: absolute;
    top: 30px;
    left: 30px;
}

.arrow > img
{
    width: 30px;
}

.yellow-button
{
    display: block;
    border-radius: 50px;
    border-width: 0;
    background-color: $primary-color-3;
    color: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    padding: 10px 30px;
    text-align: center;
    transition: all 0.3s ease 0s;
    font-size: 20px;
}

.green-button
{
    display: block;
    border-radius: 50px;
    border-width: 0;
    background-color: $primary-color-2;
    color: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    padding: 10px 30px;
    text-align: center;
    transition: all 0.3s ease 0s;
    font-size: 20px;
}

.orange-button
{
    display: block;
    border-radius: 50px;
    border-width: 0;
    background-color: $primary-color-1;
    color: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    padding: 10px 30px;
    text-align: center;
    transition: all 0.3s ease 0s;
    font-size: 20px;
}

.orange-button:hover,
.yellow-button:hover,
.green-button:hover
{
    text-decoration: none;
    color: $primary-color-6;
}

.yellow-subtitle
{
    text-transform: uppercase;
    color: $primary-color-3;
    text-align: center;
}

.orange-subtitle
{
    text-transform: uppercase;
    color: $primary-color-1;
    text-align: center;
}

.green-subtitle
{
    text-transform: uppercase;
    color: $primary-color-2;
    text-align: center;
}

.big-title
{
    font-family: 'Segoe UI', sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    color: $primary-color-5;
    white-space: nowrap;
}

/* navbar */

.menu-button
{
    background-color: transparent;
    border: none;
    color: black;
}

.side-navbar
{
    background-color: white;
    height: 100%;
    width: 300px;
    padding: 50px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: all ease-out .3s;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.navbar-company-logo
{
    width: 150px;
    height: auto;
}

.menu-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.menu-container > ul
{
    width: 100%;
    padding: 0;
}

.menu-container > ul > li
{
    list-style: none;
    text-align: center;
    padding: 15px 0;
}

.menu-container > ul > li:not(:last-child)
{
    border-bottom: 1px solid lightgray;
}

.menu-container > ul > li > a
{
    text-decoration: none;
    color: $text-color;
}

.navbar-logo
{
    position: absolute;
    top: -5px;
    left: -5px;
    width: 100px;
}

.nav-green-element
{
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -100px;
}

.side-navbar .company-name
{
    font-size: 25px;
    color: $primary-color-3;
    margin-top: 30px;
}

.navbar-bottom-buttons > .logout-button
{
    border-radius: 50px;
    border: 2px solid $primary-color-6;
    background-color: transparent;
    color: $primary-color-6;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    padding: 10px 30px;
    text-align: center;
    transition: all 0.3s ease 0s;
    font-size: 20px;
    position: absolute;
    bottom: 80px;
    text-decoration: none;
}

.navbar-bottom-buttons > .logout-button:hover
{

    background-color: $primary-color-6;
    color: $primary-color-5;
}

/* alerts */
.alert
{
    z-index: 10;
}

/* Welcome Page */
.login-register-container,
.login-container,
.register-container
{
    height: auto;
    padding: 80px;
    background-color: white;
    border-radius: 58px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.login-register-container
{
    width: 500px;
}

.login-container,
.register-container
{
    width: 600px;
}

.login-register-container > h1 > img
{
    width: 150px;
    margin-bottom: 100px;
}

.login-register-container > .sign-up-button
{
    background-color: $primary-color-3;
    margin-bottom: 50px;
}

.login-register-container > .sign-up-button:hover
{
    background-color: $primary-color-3;
}

.login-register-container > .sign-in-button
{
    background-color: $primary-color-2;
}

.login-register-container > .sign-in-button:hover
{
    background-color: $primary-color-2;
}

.frame
{
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120%;
    z-index: -10;
}

.gray-rectangle-background
{
    width: auto;
    height: 92vh;
    position: absolute;
    bottom: 0;
    left: 0;
}

.orange-top-elem
{
    position: absolute;
    top: -50px;
    left: -170px;
    width: 400px;
}

.green-bottom-elem
{
    position: absolute;
    bottom: -150px;
    left: -170px;
    width: 300px;
}

.yellow-bottom-elem
{
    position: absolute;
    bottom: 100px;
    right: -220px;
    width: 400px;
}

/* Login */
.login-container > form > input
{
    margin-bottom: 50px;
}

.login-container > form > h1
{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px !important;
}

.skorou-logo-top-elem
{
    position: absolute;
    top: -5px;
    left: -5px;
    width: 300px;
}

.gray-rectangle-background-alt
{
    width: auto;
    height: 92vh;
    position: absolute;
    bottom: 0;
    right: 0;
}

.green-bottom-elem-alt
{
    position: absolute;
    bottom: -70px;
    left: -120px;
    width: 300px;
}

.login-container > form > button[type=submit],
.register-container > form button[type=submit]
{
    display: block;
    border-radius: 50px;
    border-width: 0;
    background-color: $primary-color-3;
    color: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    padding: 10px 30px;
    text-align: center;
    transition: all 0.3s ease 0s;
    font-size: 20px;
    float: right;
}

.login-container > form > .sign-up-button
{
    display: inline-block;
    text-align: right;
    width: 100%;
    margin-top: 30px;
}

.login-container > form > .forgotten-password
{
    display: inline-block;
    text-align: right;
    width: 100%;
    color: #888888;
    margin-bottom: 20px;
}

.login-container > form > .sign-up-button
{
    color: $primary-color-1;
}

/* Registration */
.register-container .form-check
{
    margin: 40px 0;
    text-align: right;
    color: $primary-color-1;
}

.register-container .form-control
{
    margin-bottom: 40px;
}

/* Verify email */
.register-container.verify-email .subtitle
{
    text-align: center;
    margin-bottom: 40px;
}

.register-container.verify-email .validate-email
{
    border-radius: 50px;
    border-width: 0;
    background-color: $primary-color-2;
    color: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    padding: 10px 30px;
    transition: all 0.3s ease 0s;
    font-size: 20px;
}

.register-container.verify-email .validate-email:hover
{
    text-decoration: none;
    color: white;
}

.register-container.verify-email .button-container-right
{
    text-align: right;
    margin-top: 50px;
}

/* Welcome user after registration */
.register-container.welcome-user .button-container-right
{
    text-align: right;
    margin-top: 40px;
}

.register-container.welcome-user .button-container-right > a
{
    border-radius: 50px;
    border-width: 0;
    background-color: $primary-color-3;
    color: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    padding: 10px 30px;
    transition: all 0.3s ease 0s;
    font-size: 20px;
}

.register-container.welcome-user .button-container-right > a:hover
{
    text-decoration: none;
    color: white;
}

.register-container.welcome-user .text-container
{
    text-align: center;
}

.register-container.welcome-user
{
    width: 700px;
}

.register-container.welcome-user h2
{
    margin-bottom: 40px;
}

/* Subscription */
.register-container.subscription
{
    width: 80%;
}

.subscription-container
{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.subscription-block
{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.subscription-block > div
{
    height: auto;
    padding: 50px;
    background-color: white;
    border-radius: 79px;
}

.subscription-block .subscription-price
{
    font-size: 100px;
    text-align: center;
}

.subscription-block .sale
{
    color: $primary-color-1;
    font-size: 25px;
    text-align: center;
}

.subscription-block .sale .subscription-regular-price
{
    text-decoration: line-through;
}

.subscription-duration
{
    width: 100%;
    background-color: $primary-color-2;
    color: $primary-color-6;
    text-align: center;
    padding: 10px;
    font-size: 25px;
}

.subscription-block .sale .subscription-regular-price
{
    text-decoration: line-through;
}

.subscription-block .yellow-button
{
    width: 100%;
}

.register-container.subscription > .big-title
{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Subscription payment */
#card-element > .__PrivateStripeElement > .__PrivateStripeElement-input
{
    position: relative !important;
}

#payment-form > button
{
    display: block;
    border-radius: 50px;
    border-width: 0;
    background-color: $primary-color-3;
    color: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    padding: 10px 30px;
    text-align: center;
    transition: all 0.3s ease 0s;
    font-size: 20px;
    float: right;
    margin-top: 50px;
}

/* Account configuration */
.register-container.user-info,
.register-container.logo-upload,
.register-container.color-choice,
.register-container.font-upload,
.register-container.social-container
{
    width: 90%;
}

.register-container.user-info .form-control
{
    margin-bottom: 20px;
}

.register-container.user-info .big-title
{
    margin-bottom: 50px;
}

.register-container.user-info .text-form
{
    text-transform: uppercase;
    color: $primary-color-2;
    font-family: 'Segoe UI Bold', sans-serif;
    font-size: 20px;
}

.register-container.user-info .align-right
{
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

.register-container.user-info .orange-button
{
    padding: 15px 30px;
    line-height: 20px;
    margin-right: 50px;
}

/* Logo upload */
.register-container.logo-upload .skr-dropzone-container
{
    margin: 50px auto;
    width: 50%;
}

.green-explanation
{
    color: $primary-color-2;
}

.register-container.logo-upload .skr-dropzone-container .green-explanation
{
    margin-bottom: 50px;
}

/* Color choice */
.register-container.color-choice input[type=color]
{
    border-radius: 100%;
    height: 60px;
    width: 60px;
    border: 1px solid lightgray;
    outline: none;
    -webkit-appearance: none;
    padding: 10px;
    cursor: pointer;
}

.register-container.color-choice input[type=color]::-webkit-color-swatch-wrapper
{
    padding: 0;
}
.register-container.color-choice input[type=color]::-webkit-color-swatch
{
    border: none;
    border-radius: 100%;
}

.register-container.color-choice form > #charter_color,
.register-container.color-choice form > #charter_color > div
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.register-container.color-choice form > #charter_color > div > .form-group:first-child
{
    margin-right: 30px;
}

.register-container.color-choice .explanation-block
{
    width: 50%;
    margin: 50px auto;
}

.register-container.color-choice .explanation-block button
{
    margin: 0 auto;
}

/* Font upload */
.register-container.font-upload .skr-dropzone-container
{
    margin: 50px auto;
    width: 50%;
}

.green-explanation
{
    color: $primary-color-2;
}

.register-container.font-upload .skr-dropzone-container .green-explanation
{
    margin-bottom: 50px;
}

/* Social network */
.social-logo
{
    width: 80px;
}

.register-container.social-container .social-block
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.register-container.social-container .social-block > img
{
    margin-bottom: 50px;
}

.register-container.social-container .yellow-button
{
    float: right;
}

.register-container.social-container .yellow-button:hover
{
    text-decoration: none;
    color: white;
}

/* Registration end */
.login-register-container.registration-end > h1 > img
{
    margin-bottom: 50px;
}

.login-register-container.registration-end > p
{
    font-size: 20px;
    margin-bottom: 50px;
}

/* Media queries */
@media screen and (max-width: 1790px)
{
    .subscription-block .subscription-price
    {
        font-size: 50px;
    }

    .subscription-block > div
    {
        padding: 30px;
    }
}

@media screen and (max-width: 1200px)
{
    .register-container.subscription
    {
        width: 90%;
    }

    .big-title
    {
        font-size: 50px;
    }
}