<h1>Mot de passe oublié ?</h1>

<p>
    Il semblerait que vous ayez oublié votre mot de passe. Pas de panique !
    Cliquez sur ce lien pour le réinitialiser :
</p>

<p>
    <a href="{{ url|raw }}">{{ url }}</a>
</p>