{% extends 'base.html.twig' %}

{% block body %}
    {% verbatim %}
    <div id="vue-playground">
        <Editor/>
    </div>
    {% endverbatim %}
{% endblock %}

{% block title %}
    Vue playground
{% endblock %}

