<nav class="navbar">
    <img src="{{ asset('assets/images/logo_skorou.jpg') }}" alt="logo Skorou" class="navbar-logo"/>
    <ul>
        <li><a href="{{ path('dashboard') }}">Tableau de bord</a></li>
        <li><a href="{{ path('contact') }}">Contact</a></li>
    </ul>
</nav>